body {
  font-family: "Marvel", sans-serif;
}

/*................................................................................................*/
/*Cabeçalho - presente em todas as páginas HTML*/

header {
  background: radial-gradient(#a30303, #3d0101);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.img-logo {
  width: 40%;
  margin-top: 25px;
}

.caixa nav {
  position: absolute;
  top: 45%;
  left: 400px;
}

.caixa li {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 20px;
}

.caixa a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  transition: 0.5s all;
}

.caixa a:hover {
  font-size: 32px;
  text-decoration: underline;
  color: rgb(180, 180, 180);
}

/*................................................................................................*/
/*Textos da Página Principal - index.html*/

.introducao {
  text-align: center;
}

.web1 {
  width: 30px;
  padding-right: 10px;
}

.titulo-principal {
  text-align: center;
  font-size: 42px;
  padding: 1em 0;
  font-weight: bold;
}

.titulo-principal::before {
  content: "🕸️ ";
}

.titulo-principal::after {
  content: " 🕷️";
}

.paragrafos-principais {
  padding: 0.5em 0;
  font-size: 30px;
}

.imagens-spiders {
  text-align: center;
}

.spider-verse {
  display: inline-block;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  vertical-align: top;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 5%;
}

.resumo-principal {
  margin: 100px auto;
  text-align: center;
  font-size: 22px;
}

.resumo-principal h3 {
  font-size: 32px;
  padding: 15px 0;
}

.resumo-principal p {
  margin: 20px 15%;
  padding: 15px 0;
}

/*................................................................................................*/
/*Rodapé - presente em todas as páginas HTML*/

footer {
  text-align: center;
  background: radial-gradient(rgb(36, 36, 36), black);
}

.logo-footer {
  width: 10%;
  margin: 20px 0 0;
}

.copyright {
  margin: 25px 0 0;
  padding: 10px 0 20px 0;
  color: #ffffff;
  font-size: 16px;
}

/*................................................................................................*/
/*Textos da página Sobre - sobre.html*/

.sobre {
  margin: 25px 10%;
  text-align: center;
}

.sobre-img {
  margin: 20px;
  width: 300px;
  box-sizing: border-box;
  border: 2px dashed #000000;
  border-radius: 10%;
}

.spider-comics {
  margin: 20px;
  width: 800px;
  box-sizing: border-box;
  border: 2px dashed #000000;
  border-radius: 10%;
  margin-bottom: 50px;
}

/*................................................................................................*/
/*Textos da página Aranhas - aranhas.html*/

.aranhas-intro {
  margin: 20px auto;
  text-align: center;

}

.aranhas-intro h3 {
  margin: 30px 1.5%;
  font-size: 40px;
  font-weight: bold;
}

.aranhas-intro p {
  font-size: 30px;
}

.caixa-aranhas {
  width: 940px;
  margin: 0 auto;
  padding: 20px 0;
}

.caixa-aranhas li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 30px 1.5%;
  padding: 10px 20px 30px 20px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-top-width: 5px;
  border-radius: 10px 10px 50px 50px;
  transition: 0.5s all;
}

.caixa-aranhas li:hover {
  transform: scale(1.1);
  border: 2px solid #a30303;
  border-top-width: 5px;
  color: #a30303;
}

.caixa-aranhas h3 {
  font-size: 30px;
  font-weight: bold;  
}

.caixa-aranhas img {
  width: 80%;
  margin-top: 10px;
  border: none;
  border-radius: 170px;
}

.aranha-descricao {
  font-size: 18px;
  margin-top: 10px;
}

.aranha-aparicao {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}



/*................................................................................................*/
/*Textos da página Filmes - filmes.html*/

.video {
  margin: 7em auto;
  width: 40%;
  text-align: center;
}

.video-titulo {
  margin: 1em;
  font-size: 30px;
  font-weight: bold;
}

.video-descricao {
  margin: 2em;
  font-size: 20px;

}


/*................................................................................................*/
/*Design Responsivo*/

@media screen and (max-width: 480px) {
  .caixa, .caixa nav, .caixa-aranhas, .caixa-aranhas li {
    width: auto;
  }

 .caixa {
   text-align: center;
 }

  .caixa nav {
    position: static;
    width: 70%;
  }
}