body {
  font-family: "Marvel", sans-serif;
}


/*Cabeçalho - presente em todas as páginas HTML......................................................*/

header {
  background: radial-gradient(#a30303, #3d0101);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.caixa {
  width: 940px;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.header-logo {
  width: 30%;
  margin: 1em 0 0.5em 0;
}

.caixa nav {
  position: absolute;
  top: 35%;
  right: 1em;
}

.caixa li {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 4em;
}

.caixa a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  transition: 0.5s all;
}

.caixa a:hover {
  font-size: 32px;
  text-decoration: underline;
  color: rgb(180, 180, 180);
}

main {
  margin-top: 12em;
}


/*Rodapé - presente em todas as páginas HTML...........................................................*/

footer {
  text-align: center;
  background: radial-gradient(rgb(36, 36, 36), black);
  margin-top: 5em;
}

.footer-logo {
  width: 10%;
  box-sizing: border-box;
  margin: 20px 0 0;
}

.copyright {
  padding: 1em 0;
  color: #ffffff;
  font-size: 16px;
}

.icone {
  text-align: center;
  width: 3%;
  margin: 1em 1.5em;
  border: 2px solid #FFFFFF;
  border-radius: 15px;
}


/*Textos da Página Principal - index.html......................................................*/

.introducao {
  text-align: center;
}

.titulo-principal {
  text-align: center;
  font-size: 42px;
  margin-top: 1em;
  font-weight: bold;
}

.titulo-principal::before {
  content: "🕸️ ";
}

.titulo-principal::after {
  content: " 🕷️";
}

.paragrafos-principais {
  margin: 1em 1em;
  font-size: 30px;
}

.spider-verse {
  width: 80%;
  margin: 2em 1em;
  border: 2px dashed #000000;
  border-radius: 10%;
}


/*Textos da página Sobre - sobre.html.......................................................................*/

.sobre {
  margin: 25px 10%;
  text-align: center;
}

.sobre-img {
  margin: 2em;
  width: 25%;
  box-sizing: border-box;
  border: 2px dashed #000000;
  border-radius: 10%;
}

.spider-comics {
  margin: 2em;
  width: 55%;
  box-sizing: border-box;
  border: 2px dashed #000000;
  border-radius: 10%;
}


/*Textos da página Aranhas - aranhas.html..............................................................*/

.aranhas-intro {
  margin: 2em auto;
  text-align: center;
}

.caixa-aranhas {
  width: 940px;
  margin: 0 auto;
  padding: 20px 0;
}

.caixa-aranhas li {
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 30px 1.5%;
  padding: 10px 20px 30px 20px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-top-width: 5px;
  border-radius: 10px 10px 50px 50px;
  transition: 0.5s all;
}

.caixa-aranhas li:hover {
  transform: scale(1.1);
  border: 2px solid #a30303;
  border-top-width: 5px;
  color: #a30303;
}

.caixa-aranhas h3 {
  font-size: 30px;
  font-weight: bold;  
}

.caixa-aranhas img {
  width: 80%;
  margin-top: 10px;
  border: none;
  border-radius: 170px;
}

.aranha-descricao {
  font-size: 18px;
  margin-top: 10px;
}

.aranha-aparicao {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}



/*Textos da página Filmes - filmes.html..........................................................................*/

.caixa-video {
  text-align: center;
  margin: 4em 0;
}

.video-titulo {
  text-align: center;
  font-size: 30px;
  margin-top: 1em;
  font-weight: bold;
}

.video-titulo::before {
  content: "🕸️ ";
}

.video-titulo::after {
  content: " 🕷️";
}

.video {
  margin: 2em auto 0.1em;
  width: 35%;
}

.paragrafos-video {
  margin: 0.5em 10em 1em;
  font-size: 20px;
}



/*Design Responsivo....................................................................................*/


@media screen and (max-width: 480px) {
  .caixa, .caixa nav, .caixa-aranhas {
    width: 100%;
    text-align: center;
  }

  .caixa nav {
    position: relative;
    right: 0;
  }

  .caixa li {
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .caixa a {
    font-size: 20px;
  }

  .titulo-principal {
    font-size: 24px;
  }

  .paragrafos-principais {
    font-size: 20px;
  }

  .paragrafos-video {
    margin: 0.5em 1.5em 1em;
  }

  .header-logo{
    width: 30%;
  }

  .footer-logo {
    width: 25%;
  }

  .sobre-img {
    width: 50%;
  }

  .spider-comics{
    width: 85%;
  }

 .caixa-aranhas li {
    width: 75%;
    text-align: center;
  }

  .video-titulo {
    font-size: 20px;
  }

  .video {
    width: 80%;
  }

  main {
    margin-top: 10em;
  }

  .icone {
    text-align: center;
    width: 7%;
    margin: 1em 2em;
  }
}