header {
    background: #6b0505;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}


.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1 img {
    width: 350px;
    padding: 15px;
}

nav {
    position: absolute;
    display: flex;
    top: 80px;
    left: 425px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}